<div class="todo">
    <input type="text" v-model="todoTitle">
    <button @click="changeTitle">change title</button>
    <br>
    <br>
    <input type="text" v-model="todoText">
    <button @click="addToList">add to list</button>
    <br>
    <br>
    <br>
    <h1>{{ todoProp.title }}</h1>
    <ul>
        <li v-for="(item, index) in todoProp.todoList">
            <span
                :style="{'text-decoration': item.isChecked ? 'line-through' : ''}"
                @click="changeStatus(index, !item.isChecked)"
            >
                {{ item.text }}
            </span>
            <button @click="removeFromList(index)">remove</button>
        </li>
    </ul>
</div>