<div class="todo">
    <div v-if="editMode">
        <input type="text" v-model="todoTitle">
        <button @click="changeTitle">change title</button>
        <br>
        <br>
        <input type="text" v-model="todoText">
        <button @click="addToList">add to list</button>
        <br>
        <br>
        <br>
    </div>
    <h1>{{ todoProp.title }}</h1>
    <button v-if="!editMode" @click="editMode = true">edit</button>
    <button v-else @click="editMode = false">close</button>
    <button v-if="!editMode" @click="removeList">remove</button>
    <ul>
        <li v-for="(item, index) in todoProp.todoList">
            <span
                :style="{'text-decoration': item.isChecked ? 'line-through' : ''}"
                @click="changeStatus(index, !item.isChecked)"
            >
                {{ item.text }}
            </span>
            <button v-if="editMode" @click="removeFromList(index)">remove</button>
        </li>
    </ul>
</div>