<div class="page page--home">
    <div class="page__inner">
        <Calendar :month-prop="chosenMonth" />
        <div class="month__buttons">
            <div class="month__prev" @click="previousMonth()">
                <<
            </div>
            <router-link :to="`day/${chosenDay.getFullYear()}/${chosenDay.getMonth()}/${chosenDay.getDate()}`">show day</router-link>
            <div class="month__next" @click="nextMonth()">
                >>
            </div>
        </div>
    </div>
</div>